VITE_DEV=true
PORT=5173
BASE_URL='http://10.50.36.167:5173'
VITE_JWT_SECRET=''
VITE_JWT_EXPIRES=3600
VITE_DPD_PORTAL_BASE=https://okk.dpd.go.id
VITE_CMB_BASE=https://cmb.tail91813a.ts.net
VITE_DAYOFF_API_BASE=https://dayoffapi.vercel.app/api
# VITE_CMB_BASE=http://localhost:8000
VITE_LMS_BASE=https://lmsetjendpdri.duckdns.org
VITE_SIMANTAP_BASE=http://localhost:5173
VITE_KMS_BASE=http://localhost:3000
VITE_SSO_GENERATE_TOKEN=

# Keycloak SSO Configuration
VITE_ENABLE_SSO=true
# Uncomment these for local development or to override defaults
VITE_KEYCLOAK_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_KEYCLOAK_BASE_URL=https://auth.dpd.go.id/realms/dpd-sso/protocol/openid-connect
VITE_KEYCLOAK_CLIENT_ID=nusa
VITE_KEYCLOAK_CLIENT_SECRET=

WINDOWS_WATCH=